#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  /*background-color: #bfbfbf;
  padding: 50px 0px 50px 0px;
  border: 2px solid #959595;
  border-radius: 20px;*/
}
